# Python cache
__pycache__/
*.py[cod]

# Package/build files
*.egg-info/
dist/
build/

# Logs
*.log

# IDE/Editor settings
.vscode/
.idea/

# Jupyter та coverage
.ipynb_checkpoints/
htmlcov/
.coverage
.tox/
.nox/
.cache/

# Secrets (should be added after the first commit with empty values)
config/secrets.json

# DB (to avoid pushin .db)
data/*.db
*.sqlite3

# ⚙️ Virtual
.venv/
venv/
env/

# 📄 OS specific 
.DS_Store
Thumbs.db